# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
db.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Hardhat
cache/
# Keep artifacts for now, as they are used by the backend
# artifacts/
coverage/
coverage.json
typechain-types/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Secrets
.env

